<div style="text-align: left">

	<h2> Demande de changement de nom d'utilisateur. </h2>
  
  <p> Une demande de changement de nom d'utilisateur - à partir de "{{currentUsername}}" vers "{{newUsername}}" - a été effectuée pour votre profil. </p>
  <p> Cliquer sur le bouton ci-dessous pour confirmer le changement de votre nom d'utilisateur. </p>
	<p> <strong> À la confirmation de changement du nom d'utilisateur, vous serez automatiquement déconnecté de la session courante. Sauvegardez toutes modifications en cours, avant de continuer. </strong> </p>

	<a
		style="
			display: inline-block;
			text-decoration: none;
			padding: 7px;
			background-color:orange;
			border-radius: 4px;
			color: #ffffff;
			margin: 14px 0"

		href="{{actionUrl}}"
	>
		<span>Changer le nom d'utilisateur pour "{{newUsername}}"</span>
	</a>

	<p>Si vous pensez qu'il s'agit d'une erreur, merci d'ignorer cet e-mail.</p>
	<p>{{date}}</p>
</div>