<div style="text-align: left">
	<h2>Solicitação para troca de nome de usuário.</h2>
  
  <p>Uma solicitação de troca de nome de usuário - de "{{currentUsername}}" para "{{newUsername}}" - foi efetuada para o seu perfil. </p>
  <p>Clique no link abaixo para confirmar a redefinição do seu nome de usuário.</p>
	<p><strong>Ao Confirmar a troca de usuário você será automáticamente deslogado da sua sessão atual. Salve qualquer pendencia antes de continuar</strong></p>

	<a
		style="
			display: inline-block;
			text-decoration: none;
			padding: 7px;
			background-color:orange;
			border-radius: 4px;
			color: #ffffff;
			margin: 14px 0"

		href="{{actionUrl}}"
	>
		<span>Mudar nome de usuário para "{{newUsername}}"</span>
	</a>

	<p>Se você acredita que isto é um erro, por favor ignore este E-Mail.</p>
	<p>{{date}}</p>
</div>