<div style="text-align: left">

	<h2> Request to change username. </h2>
  
  <p> A user name change request - from "{{currentUsername}}" to "{{newUsername}}" - has been made for your profile. </p>
  <p> Click on the link below to confirm the reset of your username. </p>
	<p> <strong> When you confirm the user switch you will be automatically logged out of your current session. Save any pending issues before continuing </strong> </p>

	<a
		style="
			display: inline-block;
			text-decoration: none;
			padding: 7px;
			background-color:orange;
			border-radius: 4px;
			color: #ffffff;
			margin: 14px 0"

		href="{{actionUrl}}"
	>
		<span>Change username to "{{newUsername}}"</span>
	</a>

	<p>If you believe this is a mistake, please ignore this E-Mail.</p>
	<p>{{date}}</p>
</div>