<div style="text-align: left">
	<h2>Reclamação</h2>
  
  <p><strong>De:</strong> {{reporter}}</p>
  <p><strong>Contato</strong> {{email}}</p>
  <p><strong>Assunto:</strong> {{reason}}</p>
  <p><strong>Sobre:</strong> {{cvurl}}</p>
  <p><strong>Descrição: </strong>{{description}}</p>
</div>