<div style="text-align: left">
	<h2>Complaint</h2>
  
  <p><strong>From:</strong> {{reporter}}</p>
  <p><strong>Contact</strong> {{email}}</p>
  <p><strong>Subject:</strong> {{reason}}</p>
  <p><strong>About:</strong> {{cvurl}}</p>
  <p><strong>Description: </strong>{{description}}</p>
</div>