<div style="text-align: left">
	<h2>Plainte</h2>
  
  <p><strong>De :</strong> {{reporter}}</p>
  <p><strong>Contact</strong> {{email}}</p>
  <p><strong>Objet :</strong> {{reason}}</p>
  <p><strong>À propos :</strong> {{cvurl}}</p>
  <p><strong>Description: </strong>{{description}}</p>
</div>