<div style="text-align: left">
	<h2>Request E-Mail exchange.</h2>
  
  <p>A request to change the E-Mail name - from "{{userEmail}}" to "{{newEmail}}" - has been made to your profile.</p>
  <p>Click on the link below to confirm the E-Mail exchange.</p>

	<a
		style="
			display: inline-block;
			text-decoration: none;
			padding: 7px;
			background-color:orange;
			border-radius: 4px;
			color: #ffffff;
			margin: 14px 0"

		href="{{actionUrl}}"
	>
		<span>Change my E-Mail to "{{newEmail}}"</span>
	</a>

	<p>If you believe this is a mistake, please ignore this E-Mail.</p>
	<p>{{date}}</p>
</div>