<div style="text-align: left">
	<h2>Demande de changement de mot de passe.</h2>
  
  <p>Une demande de changement d'email - à partir de "{{userEmail}}" vers "{{newEmail}}" - a été effectuée pour votre profil.</p>
  <p>Cliquez sur le lien ci-dessous pour confirmer le changement d'email.</p>

	<a
		style="
			display: inline-block;
			text-decoration: none;
			padding: 7px;
			background-color:orange;
			border-radius: 4px;
			color: #ffffff;
			margin: 14px 0"

		href="{{actionUrl}}"
	>
		<span>Changer mon email pour "{{newEmail}}"</span>
	</a>

	<p>Si vous pensez qu'il s'agit d'une erreur, merci d'ignorer cet e-mail.</p>
	<p>{{date}}</p>
</div>