<div style="text-align: left">
	<h2>Solicitação para troca de E-Mail.</h2>
  
  <p>Uma solicitação de troca de nome de E-Mail - de "{{userEmail}}" para "{{newEmail}}" - foi efetuada para o seu perfil. </p>
  <p>Clique no link abaixo para confirmar a troca de E-Mail.</p>

	<a
		style="
			display: inline-block;
			text-decoration: none;
			padding: 7px;
			background-color:orange;
			border-radius: 4px;
			color: #ffffff;
			margin: 14px 0"

		href="{{actionUrl}}"
	>
		<span>Mudar meu E-Mail para "{{newEmail}}"</span>
	</a>

	<p>Se você acredita que isto é um erro, por favor ignore este E-Mail.</p>
	<p>{{date}}</p>
</div>